<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>후렌띠 후라이</title>
      <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <h1>I'm EJS </h1>
    <hr>
    Count : <%= count %>
    <br>
  </body>
</html>
